* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    background-color: #ccc;
}

ul.cabecalho {
    display: flex;
    justify-content: flex-start;
    background-color: red;
    margin-bottom: 10px;
}

li {
    margin: 0 20px;
    font-size: 10px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img.destaque {
    padding: 5px;
    width: 80%;
    height: 70vh;
}

img.casas {
    padding: 5px;
    width: 70%;
    height: 90px;
}

.sessao {
    display: flex;
    justify-content: center;
    width: 90vw;
}

.conteiner {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    background-color: slategray;
}

button {
    font-size: 5px;
    width: 3rem;
    margin: 5px 0;
    color: red;
    background-color: black;
}

button:hover {
    cursor: pointer;
    color: black;
    background-color: red;
    transition: 0.3s ease-in-out;
}

p {
    font-size: 8px;
    margin: 5px;
    display: none;
}

figcaption {
    font-size: 7px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.label {
    align-self: flex-start;
    margin-left: 48px;
}

input {
    margin: 5px;
}

form div h3 {
    margin: 20px 0;
}